.def{
width: 27%;
    margin: 10px auto 30px auto;
    box-shadow: 0 5px 10px 2px rgba(0,0,0,0.25);
    padding: 20px;
    background-color: #e8efe8;
}
.lim{
    background-color: #e8efe8;
    width: 27%;
    margin: 10px auto 30px auto;
    box-shadow: 0 5px 10px 2px rgba(0,0,0,0.25);
    padding: 20px;
}
.message{
    width: 50%;
    height: 170px;
    margin: 10px auto 30px auto;
    -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6) inset;
    -moz-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6) inset;
    box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6) inset;
    padding: 20px;
    background-color: #eef3ee;
}
h3{
    padding-top: 25%;
    margin: 0;
    background-color: #565656;
    color: transparent;
    text-shadow: 0 2px 3px rgba(255,255,255,0.5);
    -webkit-background-clip: text;
    /*-moz-background-clip: text;*/
    /*background-clip: text;*/
}
.error{
  background-color: #D77206;
}